.flexContainer {
  display: flex;
  align-items: center;

  .actionBtn {
    padding: 6px;
    background-color: inherit;
  }
}

.buttonsBlock {
  justify-content: flex-end;
}

.deckPreview {
  width: 118px;
  height: 48px;
  margin-right: 10px;
}

.link {
  color: var(--color-light-100);
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    text-decoration: underline;
  }
}
