.flexContainer {
  display: flex;
  align-items: center;

  .actionBtn {
    padding: 6px;
    background-color: inherit;
  }
}

.buttonsBlock {
  justify-content: flex-end;
}

.deckPreview {
  width: 118px;
  height: 48px;
  vertical-align: middle;
  object-fit: contain;
}

.gradeCell {
  width: 200px;
}
