.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
}

.inputWrapper {
}

.inputDescr {
}

.button {
}

.question {
}

.toLogInLink {
  color: var(--color-accent-500);
}
